<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{{ title }} - {{ config.title }}</title>

	{# inline font styling - update from /assets/css/fonts.css #}
	<style>@font-face{font-family:"Open Sans";font-style:normal;font-weight:400;font-display:swap;src:local(""),url("assets/fonts/open-sans-v34-400.woff2") format("woff2"),url("assets/fonts/open-sans-v34-400.woff") format("woff")}@font-face{font-family:"Open Sans";font-style:normal;font-weight:700;font-display:swap;src:local(""),url("assets/fonts/open-sans-v34-700.woff2") format("woff2"),url("assets/fonts/open-sans-v34-700.woff") format("woff")}</style>
	<link rel="stylesheet" href="/assets/css/style.css">
	<script src="assets/script.js"></script>
</head>
<body>
	<table class="c1 header">
		<tr><td class="n1 text" colspan="2">
			<a href="./"><img src="{{ config.logo }}"></a>
		</td></tr>
		<tr>
			<td class="n2 nb menu">
				<a href="./">Index</a>
			</td>
			<td class="n2 nb menu right">
				{% if log %}
					{{ userlink(userdata) }}<a href="">Log out</a>
				{% else %}
					<a href="register.php">Register</a><a href="login.php">Login</a>
				{% endif %}
			</td>
		</tr>
	</table>

	{% if not nobreadcrumb %}
		<div class="breadcrumb">
			<a href="./">Main</a> &raquo;
			{% for url, title in breadcrumb %}<a href="{{ url }}">{{ title }}</a> &raquo;{% endfor %}
			{{ title }}

			<div class="actions">
				<ul class="pipemenu">{% for url, title in actions %}<li><a href="{{ url }}">{{ title }}</a></li>{% endfor %}</ul>
			</div>
		</div>
	{% endif %}

	{% block content %}{% endblock %}

	{% if not nobreadcrumb %}
		<div class="breadcrumb">
			<a href="./">Main</a> &raquo;
			{% for url, title in breadcrumb %}<a href="{{ url }}">{{ title }}</a> &raquo;{% endfor %}
			{{ title }}
		</div>
	{% endif %}

	<table class="c1 footer">
		<tr><td class="n3">
			Powered by Forum&trade;<br>
			{{ profiler_stats() }}
		</td></tr>
	</table>
</body>
</html>
