<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{% if title != 'Index' %}{{ title }} - {% endif %}{{ config.title }}</title>

	{# inline font styling - update from /assets/css/fonts.css #}
	<style>@font-face{font-family:"Open Sans";font-style:normal;font-weight:400;font-display:swap;src:local(""),url("assets/fonts/open-sans-v34-400.woff2") format("woff2"),url("assets/fonts/open-sans-v34-400.woff") format("woff")}@font-face{font-family:"Open Sans";font-style:normal;font-weight:700;font-display:swap;src:local(""),url("assets/fonts/open-sans-v34-700.woff2") format("woff2"),url("assets/fonts/open-sans-v34-700.woff") format("woff")}</style>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="themes/{{ userdata.theme }}/style.css">

	<link href="rss.php" type="application/atom+xml" rel="alternate">
</head>
<body>
	<table class="c1 header">
		<tr><td class="n1 text" colspan="2">
			<a href="./"><img src="{{ config.logo }}"></a>
		</td></tr>
		<tr>
			<td class="n2 nb menu">
				<a href="./">Index</a><a href="faq.php">FAQ</a><a href="memberlist.php">Member list</a><a href="activeusers.php">Active users</a><a href="forum.php?time=604800">Latest posts</a><a href="search.php">Search</a>
			</td>
			<td class="n2 nb menu right">
				{% if log %}
					{{ userlink(userdata) }}<a href="editprofile.php">Edit profile</a><a href="javascript:document.logout.submit()">Log out</a>
				{% else %}
					<a href="register.php">Register</a><a href="login.php">Log in</a>
				{% endif %}
			</td>
		</tr>
	</table>
	{# Only allow logging out using a POST form, to not have an endpoint
		where people could be tricked into logging themselves out #}
	<form action="login.php" method="post" name="logout">
		<input type="hidden" name="action" value="Logout">
	</form>

	{% if not nobreadcrumb %}
		<div class="breadcrumb">
			<a href="./">Main</a> &raquo;
			{% for url, title in breadcrumb %}<a href="{{ url }}">{{ title }}</a> &raquo; {% endfor %}
			{{ title }}

			<div class="actions">
				<ul class="pipemenu">{% for url, title in actions %}<li>{% if url != 'none' %}<a href="{{ url }}">{% endif %}{{ title }}{% if url != 'none' %}</a>{% endif %}</li>{% endfor %}</ul>
			</div>
		</div>
	{% endif %}

	{% block content %}{% endblock %}

	{% if not nobreadcrumb %}
		<div class="breadcrumb">
			<a href="./">Main</a> &raquo;
			{% for url, title in breadcrumb %}<a href="{{ url }}">{{ title }}</a> &raquo; {% endfor %}
			{{ title }}

			<div class="actions">
				<ul class="pipemenu">{% for url, title in actions %}<li>{% if url != 'none' %}<a href="{{ url }}">{% endif %}{{ title }}{% if url != 'none' %}</a>{% endif %}</li>{% endfor %}</ul>
			</div>
		</div>
	{% endif %}

	<table class="c1 footer">
		<tr><td class="n3">
			<span class="stats nom">{{ profiler_stats() }}</span>

			<img src="assets/poweredbyvoxelmanip.png" class="poweredby" title="like a warm hug from someone you love">

			Voxelmanip Forums (Cirrusboard)<br>
			&copy; 2022-2023 ROllerozxa, <a href="credits.php">et al</a>.
		</td></tr>
	</table>

	<script src="assets/script.js"></script>
</body>
</html>
