{% extends "_layout.twig" %}

{% set title = __("Active users") %}
{% set noindex = true %}

	{% block content %}
<table class="c1 autowidth">
	<tr class="h"><td>{{ __("Active users") }}</td></tr>
	<tr><td class="n1 center">
		{{ timelinks('activeusers', time) }}
	</td></tr>
</table><br>
<table class="c1">
	<tr class="h">
		<td class="w-32px">#</td>
		<td>{{ __("Username") }}</td>
		<td class="nom w-140px">{{ __("Registered on") }}</td>
		<td class="w-60px">{{ __("Posts") }}</td>
		<td class="w-60px">{{ __("Total") }}</td>
	</tr>
	{% set i = 1 %}
	{% for user in users %}
		<tr class="n{% if i % 2 %}1{% else %}2{% endif %} center">
			<td>{{ i }}.</td>
			<td class="left">{{ userlink(user) }}</td>
			<td class="nom">{{ user.joined | date('Y-m-d H:i') }}</td>
			<td><b>{{ user.num }}</b></td>
			<td><b>{{ user.posts }}</b></td>
		</tr>
		{% set i = i + 1 %}
	{% endfor %}
	{% if i == 1 %}
		<tr><td class="n1 center" colspan="5"><p>{{ __("There are no active users in the given timespan.") }}</p></td></tr>
	{% endif %}
</table>
	{% endblock %}
