{% extends "_layout.twig" %}

{% set title = "Edit profile" %}

	{% block content %}
<form action="editprofile.php" method="post" enctype="multipart/form-data"><table class="c1">
	<tr class="h"><td colspan="2">Edit profile</td></tr>

	<tr class="h"><td colspan="2">Login information</td></tr>
	<tr>
		<td class="b n1 center">Username:</td>
		<td class="b n2">ROllerozxa</td>
	</tr><tr>
		<td class="b n1 center">Password:</td>
		<td class="b n2">{{ field_input('password', '', 13, 64, 'New password') }} {{ field_input('password', '', 13, 32, 'Repeat password') }}</td>
	</tr>

	<tr class="h"><td colspan="2">Appearance</td></tr>
	<tr>
		<td class="b n1 center">Title:</td>
		<td class="b n2">{{ field_input('title', user.title, 40, 255) }}</td>
	</tr>

	<tr class="h"><td colspan="2">User information</td></tr>
	<tr>
		<td class="b n1 center">Location:</td>
		<td class="b n2">{{ field_input('location', user.location, 40, 60) }}</td>
	</tr><tr>
		<td class="b n1 center">Bio:</td>
		<td class="b n2">{{ field_textarea('bio', user.bio, 5, 80) }}</td>
	</tr><tr>
		<td class="b n1 center">Email address:</td>
		<td class="b n2">{{ field_input('email', user.email, 40, 60) }}
			<br>{{ field_checkbox('showemail', user.showemail, "Show email on profile page") }}</td>
	</tr>

	<tr class="h"><td colspan="2">Options</td></tr>
	<tr>
		<td class="n1 center">Timezone:</td>
		<td class="n2">{{ field_select('timezone', user.timezone, timezones) }}</td>
	</tr><tr>
		<td class="n1 center">Posts per page:</td>
		<td class="n2">{{ field_input('ppp', user.ppp, 3, 3) }}</td>
	</tr><tr>
		<td class="n1 center">Threads per page:</td>
		<td class="n2">{{ field_input('tpp', user.tpp, 3, 3) }}</td>
	</tr>

	<tr class="h"><td colspan="2">&nbsp;</td></tr>
	<tr class="n1">
		<td class="nb"></td>
		<td class="nb"><input type="submit" name="action" value="Edit profile"></td>
	</tr>
</table></form>
	{% endblock %}
