{% extends "_layout.twig" %}

{% set title = forum.name %}

	{% block content %}
<table class="c1">
	<tr class="h">
		<td class="b" colspan="2">Title</td>
		<td class="b" style="width:150px">Author</td>
		<td class="b" style="width:60px">Replies</td>
		<td class="b" style="width:60px">Views</td>
		<td class="b" style="width:150px">Last post</td>
	</tr>
	{% set i = 1 %}
	{% for thread in threads %}
		{% if i % 2 %}
			{% set zebra = 1 %}
		{% else %}
			{% set zebra = 2 %}
		{% endif %}

		<tr class="center n{{ zebra }}">
			<td class="b" style="width:30px"></td>
			<td class="b left">
				<a href="thread.php?id={{ thread.id }}">{{ thread.title }}</a>
			</td>
			<td class="b">{{ userlink(thread, 'u_') }}</td>
			<td class="b">{{ thread.posts-1 }}</td>
			<td class="b">{{ thread.views }}</td>
			<td class="b">TODO</td>
		</tr>
		{% set i = i + 1 %}
	{% endfor %}
</table>
	{% endblock %}