{% extends "_layout.twig" %}

{% if viewmode == "forum" %}
	{% set title = forum.title %}

	{% if log and userdata.powerlevel >= forum.minthread %}
		{% set actions = {("index.php?action=markread&fid="~forum.id) : "Mark forum read",
			("newthread.php?id="~id) : "New thread"} %}
	{% endif %}

	{% set pagename = "/forum.php?id=" ~ id %}
{% elseif viewmode == "user" %}
	{% set title = "Threads" %}
	{% set pagename = "/forum.php?user=" ~ uid %}
	{% set noindex = true %}
{% elseif viewmode == "time" %}
	{% set title = "Latest posts (by thread)" %}
	{% set pagename = "/forum.php?time=" ~ time %}
	{% set noindex = true %}
{% endif %}

	{% block content %}
{% if viewmode == "time" %}
	<table class="c1 autowidth br-after">
		<tr class="h"><td>Latest posts</td></tr>
		<tr><td class="n1 center">
			By thread | <a href="thread.php?time={{ time }}">By post</a> (<a href="rss.php">RSS</a>)
			<br><br>{{ timelinks('forum', time) }}
		</td></tr>
	</table>
{% endif %}

{{ pagelist | raw }}

<table class="c1">
	<tr class="h">
		<td colspan="2">Title</td>
		<td class="nom" style="width:150px">Author</td>
		<td class="nom" style="width:60px">Replies</td>
		<td class="nom" style="width:60px">Views</td>
		<td style="width:180px">Last post</td>
	</tr>
	{% set i = 1 %}
	{% for thread in threads %}
		{% if i % 2 %}
			{% set zebra = 1 %}
		{% else %}
			{% set zebra = 2 %}
		{% endif %}

		{% if viewmode == "forum" %}
			{% if thread.sticky %}{% set zebra = 3 %}{% endif %}

			{% if not thread.sticky and laststicky %}<tr class="c"><td colspan="6"></td>{% endif %}
			{% set laststicky = thread.sticky %}
		{% endif %}

		<tr class="center n{{ zebra }}">
			<td style="width:30px">
				{% if log and viewmode == 'thread' and not thread.isread %}
					{% if thread.closed %}
						{{ thread_status("on") }}
					{% else %}
						{{ thread_status("n") }}
					{% endif %}
				{% elseif thread.closed %}
					{{ thread_status("o") }}
				{% endif %}
			</td>
			<td class="left">
				<a href="thread.php?id={{ thread.id }}">{{ thread.title }}</a>
			</td>
			<td class="nom">{{ userlink(thread, 'u_') }}</td>
			<td class="nom">{{ thread.posts-1 }}</td>
			<td class="nom">{{ thread.views }}</td>
			<td>
				<span>{{ thread.lastdate | date('Y-m-d H:i') }}</span><br>
				<span>by {{ userlink(thread, 'ul_' ) }}
					<a href="thread.php?pid={{ thread.lastid }}#{{ thread.lastid }}">&raquo;</a></span>
			</td>
		</tr>
		{% set i = i + 1 %}
	{% endfor %}
	{% if i == 1 %}
		<tr><td class="n1 center" colspan="6"><p>No threads found.</p></td></tr>
	{% endif %}
</table>

{{ pagelist | raw }}
	{% endblock %}
