{% extends "_layout.twig" %}

{% set title = __("Home") %}
{% set nobreadcrumb = true %}

	{% block content %}
{% if just_registered %}
	<table class="c1">
		<tr><td class="n1">{{ __("You have successfully registered and are now logged in.") }}</td></tr>
	</table><br>
{% endif %}

{% if log %}
	<a class="float-right" href="./?action=markread&fid=all">{{ __("Mark all forums read") }}</a>
{% endif %}

{% if news %}
	<table class="c1">
		<tr class="h"><td colspan="2">{{ __("Latest Announcement") }}</td></tr>
		<tr class="n1">
			<td>
				<a href="thread?id={{ news.tid }}">{{ news.title }}</a> - {{ __("by %s", userlink(news, 'u_')) }} {{ __("on %s", (news.date | date('Y-m-d H:i'))) }}
				<span class="float-right"><a href="forum?id={{ config.newsid }}">{{ __("All announcements") }}</a></span>
			</td>
		</tr>
	</table><br>
{% endif %}

{% set last_category = -1 %}

{% if config.mergedforumlist %}
<table class="c1">
	<tr class="h">
		<td colspan="2">{{ __("Forum") }}</td>
		<td class="nom" style="width:60px">{{ __("Threads") }}</td>
		<td class="nom" style="width:60px">{{ __("Posts") }}</td>
		<td style="width:180px">{{ __("Last post") }}</td>
	</tr>
{% endif %}

{% for forum in forums %}
	{% if forum.cat != last_category %}
		{% if config.mergedforumlist %}
			<tr class="c"><td colspan="5">{{ categories[forum.cat] }}</td></tr>
		{% else %}
			{% if last_category != -1 -%}
				</table><br>
			{%- endif %}

<table class="c1">
	<tr class="h">
		<td colspan="2" class="left">{{ categories[forum.cat] }}</td>
		<td class="nom" style="width:60px">{{ __("Threads") }}</td>
		<td class="nom" style="width:60px">{{ __("Posts") }}</td>
		<td style="width:180px">{{ __("Last post") }}</td>
	</tr>
		{% endif %}

		{% set last_category = forum.cat %}
	{% endif %}

	<tr class="center">
		<td class="n1" style="width:30px">
			{% if log and forum.lastdate > forum.rtime %}
				{{ thread_status("n") }}
			{% endif %}
		</td>
		<td class="n2 left">
			<a href="forum?id={{ forum.id }}">{{ forum.title }}</a> {% if forum.minread > 0 %}<span class="sfont">{{ __("(Private)") }}</span>{% endif %}
			<div style="margin-top:3px">{{ forum.descr | raw }}</div>
		</td>
		<td class="n1 nom">{{ forum.threads }}</td>
		<td class="n1 nom">{{ forum.posts }}</td>
		<td class="n2">
			{% if forum.posts > 0 and forum.lastdate > 0 %}
				<span>{{ forum.lastdate | date('Y-m-d H:i') }}</span><br>
				<span>{{ __("by %s", userlink(forum, 'u_')) }}
					<a href="thread?pid={{ forum.lastid }}#{{ forum.lastid }}">&raquo;</a></span>
			{% else %}{{ __("None") }}{% endif %}
		</td>
	</tr>
{% endfor %}
</table>

<br><table class="c1 faq">
	<tr class="h"><td class="left">{{ __("Online users (over the past 15 minutes)") }}</td></tr>
	<tr><td class="n1">
		<p>
			{% if online_users_count == 1 %}
				{{ __("%d user online:", online_users_count) }}
			{% else %}
				{{ __("%d users online:", online_users_count) }}
			{% endif %}
			{% for user in online_users %}{% if not loop.first %}, {% endif %}{{ userlink(user) }}{% endfor %}
		</p>

		{% if guests_online > 1 %}
			<p>{{ __("In addition there are %d guests online.", guests_online) }}</p>
		{% elseif guests_online == 1 %}
			<p>{{ __("In addition there is %d guest online.", guests_online) }}</p>
		{% endif %}
	</td></tr>
</table><br><table class="c1 faq">
	<tr class="h"><td class="left">{{ __("Statistics") }}</td></tr>
	<tr><td class="n1">
		<p>
			{{ __("Total posts:") }} <strong>{{ stats.p }}</strong>
			&mdash; {{ __("Total threads:") }} <strong>{{ stats.t }}</strong>
			&mdash; {{ __("Total members:") }} <strong>{{ stats.u }}</strong>
			{% if newestuser is iterable %} &mdash; {{ __("Newest:") }} {{ userlink(newestuser) }}{% endif %}
		</p>
	</td></tr>
</table>
	{% endblock %}
