{% extends "_layout.twig" %}

{% set title = "Index" %}
{% set nobreadcrumb = true %}

	{% block content %}
{% if just_registered %}
	<table class="c1">
		<tr><td class="n1">You have successfully registered and are now logged in.</td></tr>
	</table><br>
{% endif %}

{% if log %}
	<a class="float-right" href="./?action=markread&fid=all">Mark all forums read</a>
{% endif %}

{% if news %}
	<table class="c1">
		<tr class="h"><td colspan="2">Latest Announcement</td></tr>
		<tr class="n1">
			<td>
				<a href="thread.php?id={{ news.tid }}">{{ news.title }}</a> - by {{ userlink(news, 'u_') }} on {{ news.date | date('Y-m-d H:i') }}
				<span class="float-right"><a href="forum.php?id={{ config.newsid }}">All announcements</a></span>
			</td>
		</tr>
	</table><br>
{% endif %}

{% set last_category = -1 %}

{% if config.mergedforumlist %}
<table class="c1">
	<tr class="h">
		<td colspan="2">Forum</td>
		<td class="nom" style="width:60px">Threads</td>
		<td class="nom" style="width:60px">Posts</td>
		<td style="width:180px">Last post</td>
	</tr>
{% endif %}

{% for forum in forums %}
	{% if forum.cat != last_category %}
		{% if config.mergedforumlist %}
			<tr class="c"><td colspan="5">{{ categories[forum.cat] }}</td></tr>
		{% else %}
			{% if last_category != -1 -%}
				</table><br>
			{%- endif %}

<table class="c1">
	<tr class="h">
		<td colspan="2" class="left">{{ categories[forum.cat] }}</td>
		<td class="nom" style="width:60px">Threads</td>
		<td class="nom" style="width:60px">Posts</td>
		<td style="width:180px">Last post</td>
	</tr>
		{% endif %}

		{% set last_category = forum.cat %}
	{% endif %}

	<tr class="center">
		<td class="n1" style="width:30px">
			{% if log and forum.lastdate > forum.rtime %}
				{{ thread_status("n") }}
			{% endif %}
		</td>
		<td class="n2 left">
			<a href="forum.php?id={{ forum.id }}">{{ forum.title }}</a> {% if forum.minread > 0 %}<span class="sfont">(Private)</span>{% endif %}
			<div style="margin-top:3px">{{ forum.descr | raw }}</div>
		</td>
		<td class="n1 nom">{{ forum.threads }}</td>
		<td class="n1 nom">{{ forum.posts }}</td>
		<td class="n2">
			{% if forum.posts > 0 and forum.lastdate > 0 %}
				<span>{{ forum.lastdate | date('Y-m-d H:i') }}</span><br>
				<span>by {{ userlink(forum, 'u_') }}
					<a href="thread.php?pid={{ forum.lastid }}#{{ forum.lastid }}">&raquo;</a></span>
			{% else %}None{% endif %}
		</td>
	</tr>
{% endfor %}
</table>

<br><table class="c1 faq">
	<tr class="h"><td class="left">Online users (over the past 15 minutes)</td></tr>
	<tr><td class="n1">
		<p>{{ online_users_count }} user{% if online_users_count != 1 %}s{% endif %} online:
			{% for user in online_users %}{% if not loop.first %}, {% endif %}{{ userlink(user) }}{% endfor %}</p>

		{% if guests_online %}
		<p>In addition there {% if guests_online != 1 %}are{% else %}is{% endif %} {{ guests_online }} guest{% if guests_online != 1 %}s{% endif %} online.</p>
		{% endif %}
	</td></tr>
</table><br><table class="c1 faq">
	<tr class="h"><td class="left">Statistics</td></tr>
	<tr><td class="n1">
		<p>Total posts: <strong>{{ stats.p }}</strong>
			&mdash; Total threads: <strong>{{ stats.t }}</strong>
			&mdash; Total members: <strong>{{ stats.u }}</strong>
			&mdash; Newest: {{ userlink(newestuser) }}</p>
	</td></tr>
</table>
	{% endblock %}
