{% extends "_layout.twig" %}

{% set title = __("Member list") %}

	{% block content %}
<table class="c1">
	<tr class="h">
		<td style="width:32px">#</td>
		<td style="width:62px">{{ __("Picture") }}</td>
		<td>{{ __("Name") }}</td>
		<td class="nom" style="width:140px">{{ __("Registered on") }}</td>
		<td style="width:50px">{{ __("Posts") }}</td>
	</tr>
{% for user in users %}
	<tr class="n1 center" style="height:75px">
		<td>{{ user.id }}.</td>
		<td>{% if user.avatar %}<img src="userpic/{{ user.id }}" width=60 height=60>{% endif %}</td>
		<td class="left">{{ userlink(user) }}</td>
		<td class="nom">{{ user.joined | date("Y-m-d H:i") }}</td>
		<td>{{ user.posts }}</td>
	</tr>
{% endfor %}
</table>
	{% endblock %}
