{% extends "_layout.twig" %}

{% if viewmode == "thread" %}
	{% set title = thread.title %}

	{% if log %}
		{% if not thread.closed %}
			{% if userdata.rank >= thread.minreply %}
				{% if userdata.id == threadcreator or userdata.rank > 1 %}
					{% set actions = {
						("editthread?id="~id) : "Edit thread",
						("newreply?id="~id) : "New reply"} %}
				{% else %}
					{% set actions = {("newreply?id="~id) : "New reply"} %}
				{% endif %}
			{% endif %}
		{% else %}
			{% set actions = {"none" : "Thread locked"} %}
		{% endif %}
	{% endif %}

	{% set pagename = "/thread?id=" ~ id %}
	{% if pid %}
		{% set noindex = true %}
	{% endif %}
{% elseif viewmode == "user" %}
	{% set title = "Posts" %}
	{% set pagename = "/thread?user=" ~ uid %}
	{% set noindex = true %}
{% elseif viewmode == "time" %}
	{% set title = "Latest posts (by post)" %}
	{% set pagename = "/thread?time=" ~ time %}
	{% set noindex = true %}
{% endif %}

	{% block content %}
{% if viewmode == "time" %}
	<table class="c1 autowidth br-after">
		<tr class="h"><td>Latest posts</td></tr>
		<tr><td class="n1 center">
			<a href="forum?time={{ time }}">By thread</a> | By post (<a href="rss">RSS</a>)
			<br><br>{{ timelinks('thread', time) }}
		</td></tr>
	</table>
{% endif %}

{{ pagelist | raw }}

{% set i = 1 %}
{% for post in posts %}
	{{ threadpost(post) }}
	{% set i = i + 1 %}
{% endfor %}

{% if i == 1 %}
	<table class="c1"><tr><td class="n1 center" colspan="6"><p>No posts found.</p></td></tr></table>
{% endif %}

{% if viewmode == "thread" and log and userdata.rank >= thread.minreply and not thread.closed %}
<form action="newreply?id={{ id }}" method="POST"><table class="c1 postform">
	<tr class="h"><td>Quick Reply</a></td>
	<tr class="n1"><td class="center">
		<textarea class="postform" name="message" rows="8" cols="80"></textarea>

		<div class="actionbar-quick">
			<input type="submit" name="action" value="Preview">
			<input type="submit" name="action" value="Submit">
		</div>
	</td></tr>
</table></form>
{% endif %}

{{ pagelist | raw }}
	{% endblock %}
