{% extends "_layout.twig" %}

{% if viewmode == "thread" %}
	{% set title = thread.title %}

	{% if log %}
		{% set actions = {("newreply.php?id="~id) : "New reply"} %}
	{% endif %}
{% elseif viewmode == "user" %}
	{% set title = "Posts" %}
{% elseif viewmode == "time" %}
	{% set title = "Latest posts (by post)" %}
{% endif %}

	{% block content %}
{% if viewmode == "time" %}
	<table class="c1 autowidth">
		<tr class="h"><td>Latest posts</td></tr>
		<tr><td class="n1 center">
			<a href="forum.php?time={{ time }}">By thread</a> | By post (<a href="rss.php">RSS</a>)
			<br><br>{{ timelinks('thread', time) }}
		</td></tr>
	</table><br>
{% endif %}

{% set i = 1 %}
{% for post in posts %}
	{{ threadpost(post) }}
	{% set i = i + 1 %}
{% endfor %}

{% if i == 1 %}
	<table class="c1"><tr><td class="n1 center" colspan="6"><p>No posts found.</p></td></tr></table>
{% endif %}

{% if viewmode == "thread" and userdata.powerlevel >= thread.minreply and not thread.closed %}
<form action="newreply.php?id={{ id }}" method="POST"><table class="c1 postform">
	<tr class="h"><td>Quick Reply</a></td>
	<tr class="n1"><td class="center">
		<textarea class="postform" name="message" rows="8" cols="80"></textarea>

		<div class="actionbar-quick">
			<input type="submit" name="action" value="Preview">
			<input type="submit" name="action" value="Submit">
		</div>
	</td></tr>
</table></form><br>
{% endif %}

{{ pagelist | raw }}
	{% endblock %}
